body{
    background-image: url('../img/night_sky.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 20px;
    font-family: 'Fjalla One', sans-serif;
}

#transactionsList{
    background-color: dimgrey;
    color: black;
    overflow-y: auto;
    border-radius: 25px;
    border: solid white 2px
}

.transactions {
    border: solid black 2px;
    width: 30%;
    margin: 1%;
    float: left;
    height: 200px;
    position: relative;
}

#pageHeader{
    text-decoration: underline;
    margin: 0;
}

#balance{
    margin: 10px 0;
}
#transactionsContent, #stocksContent {
    border-bottom: 2px black solid;
    padding-bottom: 20px;
}

 .stocksContent input{
    width: 50% !important;
    clear: right;
    display: block;
    margin: 0 25% !important;
}

#transactionsContent input {
    width: 50%;
    clear: right;
    display: block;
    margin: 0 25%;
}

#transactionsContent input[type=submit] {
    border-radius: 13px;
}

#transactionsContent input:nth-of-type(1){
    margin-top: 2% !important;
}

#transactionsContent input:nth-of-type(2){
    margin: 2% 25% !important;
}

#saveStockButton {
    width: 50% !important;
    clear: right;
    display: block;
    margin: 0 25% 1% 25% !important;
}


.category , .filterCategory {
    width:50%;
    display: inline;
    background-color: palegoldenrod;
    opacity: 0.8;
}


.filterDiv{
    width: 100%;
    position: relative;
    margin-top: 1%;
}


.filterCategory {
    position: relative;
    right: 25%;
}


#content {
    margin-top: 30px;
}

.editNoteSubmitBtn {
    margin: 0;
}
.editNoteSubmitInp{
    margin: 0 !important;
    text-align: center;
}
#nav-mobile, nav{
    background-color: #252525;
 }

.transactionCard{
    padding: 1px !important;
    position: absolute;
    width: 100%;
}
.transactionDetails {
 margin-top: 45px;
}

.deleteIcon{
float: left;
}

.deleteIcon button{
background: transparent;
border-color: transparent;
}

.catagoryIcon{
float: right;
margin-right: 2%;
}

.transactionAmount{
font-size: 200%;
}

#newTransactionForm, .stocksForm{
width: 100%;
}

.verification{
margin: 3% 25%;
}

.verificationHeader {
font-size: 30px;
text-decoration: underline;
}

.verificationBtn{
border-radius: 25px;
}

.sSOuterDiv{
margin: 1% 0 ;
}

.sSInnerDiv{
display: inline;
margin: 0 1%;
}

@media only screen and (max-width: 850px) {
nav .brand-logo {
    font-size: 1.4rem;
}

#transactionsContent input, #stocksContent input{
    width: 100%;
    display: block;
    margin: 0;
}

#newTransactionForm{
    width: 90%;
    margin: 0 5%;
}

.category{
    width: 100%;
    display: inline;
}

.transactions {
    border: solid black 2px;
    width: 80%;
    margin: 2% 10%;
    height: 200px;
}

}

@media only screen and (max-width: 700px) {
.transactions {
    border: solid black 2px;
    height: 230px;
}

#transactionsContent input, #stocksContent input{
    width: 100%;
    clear: right;
    display: block;
}
}


.cardBackground {
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
}

