<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-financial:war exploded">
    <output-path>$PROJECT_DIR$/target/first-web-application-0.0.1-SNAPSHOT</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-financial" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework.boot:spring-boot-starter-data-jpa:unknown" />
          <element id="library" level="project" name="Maven: com.h2database:h2:unknown" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/first-web-application-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-financial/web/Web" />
    </root>
  </artifact>
</component>